# Our Data Mining Pilot Study and Plan

## Background

*Describe the organization and its operations, operational environment, analytical needs, etc.*

## Problem description

*Describe the problem that the organization is facing and the research question it needs answered.*

*Replace the contents of this cell with your own text.*

## Data collection

*Document your data collection process and the properties of the data here. Implement, using Python code, to load and preprocess your selected dataset.*

*Replace the contents of this cell with your own text.*

In [1]:
# Run this cell to import the modules and set up some stuff
import pandas as pd
import matplotlib
%matplotlib inline
matplotlib.pyplot.rcParams['figure.figsize'] = [10, 6]

In [2]:
name_basics = pd.read_csv(
    "https://datasets.imdbws.com/name.basics.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'nconst': str, 'primaryName': str, 'birthYear': str, 'deathYear': str, 'primaryProfession': str, 'knownForTitles': str}
)

In [3]:
title_basics = pd.read_csv(
    "https://datasets.imdbws.com/title.basics.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'titleType': str, 'primaryTitle': str, 'originalTitle': str, 'isAdult': int, 'startYear': str, 'endYear': str, 'runtimeMinutes': str, 'genres': str}
)

In [4]:
title_crew = pd.read_csv(
    "https://datasets.imdbws.com/title.crew.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'directors': str, 'writers': str}
)

In [5]:
title_principals = pd.read_csv(
    "https://datasets.imdbws.com/title.principals.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'ordering': int, 'nconst': str, 'category': str, 'job': str, 'characters': str}
)

In [6]:
title_ratings = pd.read_csv(
    "https://datasets.imdbws.com/title.ratings.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'averageRating': float, 'numVotes': int}
)

We filter out only the relevant columns in each table below:

In [7]:
name_basics = name_basics[['nconst', 'primaryName', 'knownForTitles']]
title_basics = title_basics[['tconst', 'titleType', 'primaryTitle', 
                             'startYear', 'runtimeMinutes', 'genres']]
title_principals = title_principals[['tconst', 'ordering', 'nconst', 'category']]

We filter out only the movies from the year 2000 and until 2017:

In [8]:
title_basics_filtered = title_basics.loc[title_basics['titleType'] == "movie"]
title_basics_filtered = title_basics_filtered.loc[title_basics_filtered['startYear'] >= "2000"]
title_basics_filtered = title_basics_filtered.loc[title_basics_filtered['startYear'] <= "2017"]
title_basics_filtered = title_basics_filtered[['tconst', 'primaryTitle', 
                             'startYear', 'runtimeMinutes', 'genres']]
title_basics_filtered

,tconst,primaryTitle,startYear,runtimeMinutes,genres
34822,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance"
65547,tt0066853,Na Boca da Noite,2016,68,Drama
86845,tt0088751,The Naked Monster,2005,100,"Comedy,Horror,Sci-Fi"
92819,tt0094859,Chief Zabu,2016,74,Comedy
93991,tt0096056,Crime and Punishment,2002,126,Drama
95433,tt0097540,Responso,2004,81,\N
98103,tt0100275,The Wandering Soap Opera,2017,80,"Comedy,Drama,Fantasy"
100143,tt0102362,Istota,2000,80,"Drama,Romance"
103575,tt0105849,Xavier,2003,100,\N
105395,tt0107706,Stupid Lovers,2000,\N,\N
106220,tt0108549,West from North Goes South,2004,96,"Comedy,Mystery"
106827,tt0109173,Auf allen Meeren,2002,95,Documentary
110086,tt0112502,Bigfoot,2017,\N,"Horror,Thriller"
110486,tt0112912,Dune 7,2002,97,Adventure
110656,tt0113086,Florentino y el diablo,2000,\N,Drama
110662,tt0113092,For the Cause,2000,100,Sci-Fi
111062,tt0113506,Justifiable Homicide,2002,\N,Documentary
111979,tt0114447,The Silent Force,2001,90,Action
112247,tt0114722,3 noches,2001,105,"Crime,Thriller"
113177,tt0115686,Biriken,2008,100,"Comedy,Fantasy"
113417,tt0115937,Consequence,2000,91,Drama
113857,tt0116391,Gang,2000,152,"Action,Crime,Drama"
114073,tt0116617,Impotent,2001,75,Comedy
114083,tt0116628,The Incorporated,2000,86,"Action,Thriller"
114199,tt0116748,Karobaar: The Business of Love,2000,180,"Drama,Romance"
114294,tt0116847,Leftovers,2000,\N,\N
114888,tt0117461,Remembering Mario,2003,\N,"Comedy,Romance"
115158,tt0117743,Still Waters Burn,2008,83,"Drama,Romance"
115538,tt0118141,What Is It?,2005,72,Drama
115549,tt0118154,White Hotel,2001,90,"Biography,Documentary"
...,...,...,...,...,...
5410470,tt9290224,Puteros,2008,55,Drama
5411450,tt9292266,Ghatle Online,2005,\N,Drama
5412066,tt9293524,Dada Is Back,2017,98,Action
5412092,tt9293578,Test 54,2017,6,Sci-Fi
5412097,tt9293590,Bicycle,2017,13,Drama
5412172,tt9293752,Saem,2017,107,"Comedy,Drama,Romance"
5412405,tt9294236,La piccola fiammiferaia,2006,64,Comedy
5412587,tt9294622,Le soldat de bout,2017,\N,Documentary
5412765,tt9294994,Eghlima,2006,\N,Drama
5412766,tt9294996,A Tropical House,2015,51,Documentary
5412809,tt9295084,Femminismo!,2017,52,Documentary
5413620,tt9296828,Never Stop,2015,\N,Drama
5415005,tt9299666,Shindy Music,2017,75,Documentary
5415851,tt9301392,Baldurs Draumar,2008,\N,"Biography,Documentary,Music"
5415865,tt9301422,Memorias rotas,2010,66,Documentary
5415875,tt9301442,Irenes Addiction,2010,\N,Documentary
5415880,tt9301452,Vidas Virtuales,2012,57,Documentary
5415912,tt9301522,Katrina Sisters,2009,\N,Documentary
5416221,tt9302192,Wimbledon Official Film 2017,2017,\N,Documentary
5416231,tt9302212,Wimbledon Official Film 2015,2015,\N,\N
5416324,tt9302404,Sabor a Victoria,2004,66,Documentary
5416667,tt9303126,La Rieducazione,2006,\N,\N
5416857,tt9303518,Tout-Frais,2017,\N,\N
5416925,tt9303658,Lala Taaalat,2013,\N,History
5416964,tt9303746,The Punished,2017,35,"Crime,Drama"
5419071,tt9308090,One and Six,2009,108,Documentary
5419502,tt9308980,Kandungan ng apoy,2002,\N,Drama
5420894,tt9312142,Tutto In Una Notte - Live Kom 015,2016,156,Music
5421123,tt9312618,Elegy for the Time Being,2017,\N,Documentary
5421855,tt9314350,No sucumbió la eternidad,2017,\N,Documentary

We filter out all ratings with less than 1000 votes and with an average rating above 8:

In [45]:
title_ratings_filtered = title_ratings.loc[title_ratings['numVotes'] >= 1000]
title_ratings_filtered = title_ratings_filtered.loc[title_ratings_filtered['averageRating'] >= 9.0]
title_ratings_filtered

           tconst  averageRating  numVotes
30311   tt0052520            9.0     56978
44024   tt0068646            9.2   1382465
44850   tt0069628            9.0      3254
46082   tt0071075            9.2     17015
46511   tt0071562            9.0    957344
51110   tt0077051            9.2      3336
55173   tt0081846            9.3     29244
57272   tt0084302            9.0     12549
64018   tt0092337            9.1     17245
67689   tt0096633            9.1      1435
69497   tt0098769            9.1      9764
77644   tt0108700            9.2      3170
79321   tt0110758            9.3      4111
79668   tt0111161            9.3   2017614
80229   tt0111893            9.4      4858
88930   tt0123360            9.0      2243
93779   tt0133318            9.0      1396
94286   tt0134599            9.2      2121
94313   tt0134648            9.4      2992
94559   tt0135095            9.1      2323
94560   tt0135096            9.0      1651
97609   tt0141842            9.2    237356
101777  tt0150742            9.2     13967
105043  tt0157217            9.2      1876
105503  tt0158417            9.4      4842
105736  tt0158874            9.1      2101
107189  tt0161941            9.2      4289
107580  tt0162905            9.0      2289
109681  tt0167018            9.0      1457
111468  tt0170783            9.1      2899
...           ...            ...       ...
871501  tt8059634            9.2      1326
872124  tt8089526            9.4      1639
872158  tt8090936            9.2      1008
872261  tt8097136            9.4      1377
872513  tt8108198            9.0     13510
873572  tt8160066            9.4      4798
873574  tt8160070            9.0      2836
873880  tt8176054            9.2      3044
874137  tt8189210            9.1      1206
875106  tt8241368            9.2      2538
875108  tt8241372            9.5      3443
875269  tt8250812            9.1      6717
875308  tt8253126            9.8      6881
875310  tt8253134            9.6      3842
875632  tt8266810            9.0      1470
875636  tt8266826            9.8      4701
875640  tt8266836            9.5      1601
875641  tt8266838            9.0      1063
875642  tt8266840            9.1      1091
877279  tt8358588            9.3      1373
877683  tt8381768            9.2      2434
881018  tt8595766            9.6     13786
881786  tt8665634            9.2      1009
883688  tt8809646            9.8     17031
883762  tt8816250            9.0      1047
884490  tt8893550            9.0      2256
886271  tt9063106            9.1      1507
886410  tt9077626            9.0      7394
887081  tt9151704            9.4      1341
887749  tt9231140            9.2      3824

[2046 rows x 3 columns]

In [46]:
movies_ratings = pd.merge(title_basics_filtered, title_ratings_filtered, on='tconst')
movies_ratings

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0468569,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,1985696
1,tt1795369,Frankenstein,2011,130,Drama,9.0,1720
2,tt2170667,Wheels,2014,115,Drama,9.4,17087
3,tt2412748,Saving Mes Aynak,2014,60,Documentary,9.1,1038
4,tt2592910,CM101MMXI Fundamentals,2013,139,"Comedy,Documentary",9.2,40272
5,tt2869878,The Poodles: In the Flesh,2010,\N,Documentary,9.1,1072
6,tt3557258,Caur Adatu,2014,74,"Biography,Documentary,Drama",9.2,1110
7,tt4131686,I Want to Live,2015,106,"Adventure,Biography,Documentary",9.7,1105
8,tt5069074,A Billion Lives,2016,95,"Documentary,History,News",9.0,2692
9,tt5275892,O.J.: Made in America,2016,467,"Biography,Crime,Documentary",9.0,14164
10,tt5311546,Natsamrat,2016,166,"Drama,Family",9.2,4063
11,tt5354160,Aynabaji,2016,147,"Crime,Mystery,Thriller",9.4,18008
12,tt5510934,The Unnamed,2016,100,Drama,9.1,2730
13,tt5732482,Hans Zimmer: Live in Prague,2017,150,"Documentary,Music",9.1,1426
14,tt5813916,The Mountain II,2016,135,"Drama,War",9.4,98706
15,tt5963218,Aloko Udapadi,2017,113,"Drama,History",9.6,6459
16,tt6679360,On vam ne Dimon,2017,50,Documentary,9.2,2644

In [47]:
movies_ratings_crew = pd.merge(movies_ratings, title_crew, on='tconst')
movies_ratings_crew

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0468569,The Dark Knight,2008,152,"Action,Crime,Drama",9.0,1985696,nm0634240,"nm0634300,nm0634240,nm0333060,nm0004170"
1,tt1795369,Frankenstein,2011,130,Drama,9.0,1720,nm0000965,"nm0213116,nm0791217"
2,tt2170667,Wheels,2014,115,Drama,9.4,17087,"nm1919905,nm2871077",nm1919905
3,tt2412748,Saving Mes Aynak,2014,60,Documentary,9.1,1038,nm2119365,nm2119365
4,tt2592910,CM101MMXI Fundamentals,2013,139,"Comedy,Documentary",9.2,40272,nm2339782,nm0948000
5,tt2869878,The Poodles: In the Flesh,2010,\N,Documentary,9.1,1072,nm2223858,\N
6,tt3557258,Caur Adatu,2014,74,"Biography,Documentary,Drama",9.2,1110,nm6314299,\N
7,tt4131686,I Want to Live,2015,106,"Adventure,Biography,Documentary",9.7,1105,nm6748553,nm6748553
8,tt5069074,A Billion Lives,2016,95,"Documentary,History,News",9.0,2692,nm7618090,\N
9,tt5275892,O.J.: Made in America,2016,467,"Biography,Crime,Documentary",9.0,14164,nm1554601,\N
10,tt5311546,Natsamrat,2016,166,"Drama,Family",9.2,4063,nm0542498,"nm3871075,nm0542498,nm4441810"
11,tt5354160,Aynabaji,2016,147,"Crime,Mystery,Thriller",9.4,18008,nm2755490,"nm7861816,nm7861817,nm7861818"
12,tt5510934,The Unnamed,2016,100,Drama,9.1,2730,nm2609716,nm2609716
13,tt5732482,Hans Zimmer: Live in Prague,2017,150,"Documentary,Music",9.1,1426,nm1229177,\N
14,tt5813916,The Mountain II,2016,135,"Drama,War",9.4,98706,nm3809021,nm3809021
15,tt5963218,Aloko Udapadi,2017,113,"Drama,History",9.6,6459,"nm8359417,nm8529623",nm5465931
16,tt6679360,On vam ne Dimon,2017,50,Documentary,9.2,2644,\N,\N

## Data analysis

*Document you choice and motivation for selected data mining method(s) here. Choose a data mining method(s) to use in Python code to perform an analysis of your chosen dataset. Describe why you chose the method(s) and what interesting things you have found from the analysis.*

*Replace the contents of this cell with your own text.*

In [48]:
import collections
most_popular_directors = collections.Counter(movies_ratings_crew["directors"]).most_common()
most_popular_directors = pd.DataFrame(list(most_popular_directors))
most_popular_directors.columns = ["nconst", "No. of movies"]
most_popular_directors

                 nconst  No. of movies
0             nm0634240              1
1             nm0000965              1
2   nm1919905,nm2871077              1
3             nm2119365              1
4             nm2339782              1
5             nm2223858              1
6             nm6314299              1
7             nm6748553              1
8             nm7618090              1
9             nm1554601              1
10            nm0542498              1
11            nm2755490              1
12            nm2609716              1
13            nm1229177              1
14            nm3809021              1
15  nm8359417,nm8529623              1
16                   \N              1

In [49]:
most_popular_directors = pd.merge(most_popular_directors, name_basics, on='nconst')
most_popular_directors[['No. of movies', 'primaryName']]

    No. of movies             primaryName
0               1       Christopher Nolan
1               1             Danny Boyle
2               1        Brent E. Huffman
3               1            Murat Dündar
4               1             Steve Ravic
5               1        Arturs Lapinskis
6               1          Karzan Kardozi
7               1           Aaron Biebert
8               1            Ezra Edelman
9               1        Mahesh Manjrekar
10              1  Amitabh Reza Chowdhury
11              1           Tauquir Ahmed
12              1         Tim Van Someren
13              1            Alper Caglar

## Evaluation of results

*Document an evaluation your analysis results and describe how potentially actionable they are.*

*Replace the contents of this cell with your own text.*

In [ ]:
# Add your own code

## Schedule and description of project plan

*Rough schedule for the project beyond the pilot study presented in 3-5. This does not have to be advanced, you can simply provide an estimate based upon reported schedules for similar projects in the literature.*

*Replace the contents of this cell with your own text.*

## Ethical aspects that need to be considered

*Are there ethical aspects that need to be considered? Are there legal implications (e.g., personal data / GDPR)? Are there implications if the case organization is a business, public authority, or nonprofit entity?*

*Replace the contents of this cell with your own text.*