# Group 1 - Data Mining and Data Science project

## 1. Background

*Describe the organization and its operations, operational environment, analytical needs, etc.*

The organization chosen for this project is a fictional movie production company in the film industry that is creating and directing new movies. The typical working process for the company is as follow. They choose a work, or an idea, and get the full rights to it. Then they put the crew together, consisting of writer, director and actors. When all this is done they reach out to investors to get the money needed to produce the film. Then they create the film and sell it to theatres and resellers.

In recent years, the company has not used any specific strategy for movie production. They have tried to guess what kind of movies people like and from that invested huge financial capital in the production. Then they have put the crew together without making any major analysis in advance. This strategy has only managed to produce a few successful movies, but the majority of all produced films are at a loss. The company has repeatedly tried to find a pattern for those movies that are profitable and sell well but has not succeeded yet. Eventually, they came to a point where they realized that their current strategy is not working well enough and if they continue as they do, they could be bankrupt in the near future. The next movie can be crucial for the company's survival.

One of the factors that may increase the chance of a movie to be successful is that it has high ratings on IMDb. Many film companies use IMDB to find best-selling movies, therefore, high rated movies have a greater chance of generating profits (Meenakshi et al., 2018). Therefore, the company's primary goal is to get the best possible rating on IMDb.

## 2. Problem description

*Describe the problem that the organization is facing and the research question it needs answered.*

### 2.1 Problem description

The company has released several movies but none of them has been particularly successful. For their next movie, the aim is to make a bestseller, or at least more profitable, to get the company back on track again. This time they want to make an analysis of what factors they should take into account before starting the creation process of the movie. They want to find out what is most important to allocate their financial resources too, to optimize and improve the success rate of the film. This in turn to increases the monetary results of the film and reach their goal. 

It is difficult to say what aspects of a movie that are the most crucial factors of defining a movie as good (Oliver and Hartman, 2010). In addition to this, as Sharda and Delen (2006) explain that it is also very difficult to predict the demand for a movie in advance. Therefore this makes the movie business one of the riskiest endeavours for investors. There are even people claiming that it is not possible to predict how a movie is going to do in the marketplace (Sharda and Delen, 2006). As Jack Valenti, the former president of Motion Picture Association of America once said: “Excellence is a fragile substance and movie making is a collaboration of talent, which is why it is hard to make and buy great films.”  (Valenti, 1978). He is entitled that talent is required for making a good movie, as movies are subject to subjective judgment by the viewers. However, with the help of new technologies and methods, it could be possible to “hack” the normal way of producing movies to increase the chances of being successful.

This project will look into if it is possible to do an analysis of the quantitative data of movies available at IMDb which are; the length of the movie, actors, writer,  director and genre. Then based on these, see if there are any factors that can increase the chances of producing a highly rated movie. One approach to this is data mining. According to Wu (et. al., 2014), Big Data can be used to explore a large amount of data and extract useful information. By using data mining on ratings of movies, and data of the movie, from the well-known website IMDb, some useful information hopefully will be extracted and used to help the company what they need to improve for the next movie.

### 2.2 Research questions
	
Based on the above this report will answer the following questions:
Which are the most common factors for success among highly rated movies at IMDb? And which could be used or should not be used for the company’s next movie?

### 2.3 Hypothesis

To answer the question being asked, this research will look at factors that are believed to play a great role if the movie will get a high grade from the people watching it or not. The hypothesis, based on the data available through IMDb, is that the movie’s running time, the actors in it, the writer, the director and the genre are the factors that could have a major impact on the result. 

**_Running time_**

It is not certain if previous researches have included a movie’s running time as a success factor for a movie. However, this could be interesting to look at. It is not impossible to think that the length has some impact on the viewers. Perhaps a too long movie will make the audience lose their concentration, or if it is too short they do not have time to fully get into the movie. 

**_Writers_**

The writers  often, in comparison to actors and directors,  tend to be quite anonymous in relation to their films. And as Batty (2015) describes, there is a lack of screen production research which means that this is an area that may contain gaps. What is also important to baere in mind is that it is the writer who is the one who creates the basic material of the movie. Therefore in this analysis it should not matter who the writer of the movie is because the result is what is going to be used by the writer.  Nevertheless this is an interesting factor to look at in relation to the movie’s success rate, but in the end it should not significantly affect our result.

**_Actors_**

When others have tried to analyse the factors to a movie’s success many of them have looked into the impact of the stars of the movie (Lee et. al, 2016).That is, the actors. Lee et. al (2014) are using a measurement of “star buzz” in their analysis of a successful movie. Since many other movie researches are using this as a factor, and even though it has shown a mixed result, it seems like a factor that should be considered. It is also not difficult to imagine that a movie with a popular actor with many fans gets high rated just because the actor is acting in it. 

**_Director_**

The director of the movie is likely to have an impact on the success rate. Parkeh and Biswas (2015) are analysing the factors that have most impact on movies in certain genres. Their results shows that in all of the six genres, direction is one of the driving factors. Therefore this factor will be used in this report as well. The difference in this research is that the aim is to find the names of the directors that often create successful movies. 

**_Genre_**

The genre is used in this analysis since it is commonly used in other researches like this one (Lee et. al, 2014). It could be interesting to see if there are any specific genres that are extra popular now. 

### 2.3 Data Mining Goals and Success Criteria 

The goal with this data mining project is to have created a model showing the factors that will make a successful movie. 

Success criteria:
A pattern can be interpreted.
The prediction is somewhat credible.

## 3. Data collection

*Document your data collection process and the properties of the data here. Implement, using Python code, to load and preprocess your selected dataset.*

### 3.1 Data Collection

The data used for the analysis will be user rating data from IMDb. This data is free and can be obtained from IMDB (imdb.com, 2018) with its documentation available at https://www.imdb.com/interfaces/. The datasets contains complete user rating data from IMDb and in addition to the rating it contains additional information about the movie titles and actors. The table about the directors and writers for every movie will be left out due to reducing the scope of the project. The information selected is considered relevant enough to get useful results for the movie company.

MDb is used as the primary source for this project because of the following reasons: IMDB provides a large movie set that is open to all users, it has information related to movie ratings, movie genres, actors, directors and writers.
Movies on IMDB are exposed to a large number of people. At present, IMDB has about 83 million registered users (IMDB.com). IMDB does not have a complete dataset, it lacks information about movie budget, revenue other important factors. But the information available is considered sufficient for the purpose of this project.

### 3.2 Datasets/Tables

For the analysis four different datasets will be downloaded from IMDb, these are: “Title Basics”, “Title Ratings”, “Name Basics” and “Title Principals”.

In [1]:
# Run this cell to import the modules and set up some stuff
import pandas as pd
import matplotlib
%matplotlib inline
matplotlib.pyplot.rcParams['figure.figsize'] = [10, 6]

- “Title Basics” contains basic information related to the movie title and the columns that will be used from this table are “tconst”, “titleType”, “tvepisode”, “primaryTitle”, “startYear”, “runtimeMinutes” and “genres”.

In [2]:
title_basics = pd.read_csv(
    "https://datasets.imdbws.com/title.basics.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'titleType': str, 'primaryTitle': str, 'originalTitle': str, 'isAdult': int, 'startYear': str, 'endYear': str, 'runtimeMinutes': str, 'genres': str}
)

- “Name Basics ” contains information about all people working with each movie, but only information about actors will be used. The columns that will be used are “nconst”, “primaryName” and “knownForTitles”.

In [3]:
name_basics = pd.read_csv(
    "https://datasets.imdbws.com/name.basics.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'nconst': str, 'primaryName': str, 'birthYear': str, 'deathYear': str, 'primaryProfession': str, 'knownForTitles': str}
)

- “Title Ratings” contains the actual information about the ratings for each title and the columns that will be used for this table are “tconst”, “averageRating” and “numVotes”.

In [4]:
title_ratings = pd.read_csv(
    "https://datasets.imdbws.com/title.ratings.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'averageRating': float, 'numVotes': int}
)

- “Title Principals” contains information about the principal people related to every movie. The columns that will be used are “tconst”, “ordering”, “nconst” and “category”.

In [5]:
title_principals = pd.read_csv(
    "https://datasets.imdbws.com/title.principals.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'ordering': int, 'nconst': str, 'category': str, 'job': str, 'characters': str}
)

- “Title crew” contains information about the writers and directors of a movie. The columns that will be used are “tconst”, “directors” and “writers”.

In [6]:
title_crew = pd.read_csv(
    "https://datasets.imdbws.com/title.crew.tsv.gz", 
    encoding="utf-8", sep="\t", 
    dtype={'tconst': str, 'directors': str, 'writers': str}
)

The table below is visualization of the datasets and which columns that will be used and which that will be filtered out. The cells marked in green will be used and the others will be left out. The constants are used for joining the tables together.

<img src="Table of tables.png">

## 3.3 Preprocessing

### 3.3.1 Initial filtering

We filter out only the relevant columns in each table below:

In [7]:
name_basics = name_basics[['nconst', 'primaryName', 'knownForTitles']]
title_basics = title_basics[['tconst', 'titleType', 'primaryTitle', 
                             'startYear', 'runtimeMinutes', 'genres']]
title_principals = title_principals[['tconst', 'ordering', 'nconst', 'category']]

We filter out only the movies from the year 2000 and until 2017:

In [8]:
title_basics_filtered = title_basics[title_basics.titleType == "movie"]
title_basics_filtered = title_basics_filtered[title_basics_filtered.startYear >= "2000"]
title_basics_filtered = title_basics_filtered[title_basics_filtered.startYear <= "2017"]
title_basics_filtered = title_basics_filtered[['tconst', 'primaryTitle', 
                             'startYear', 'runtimeMinutes', 'genres']]
title_basics_filtered

,tconst,primaryTitle,startYear,runtimeMinutes,genres
34822,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance"
65547,tt0066853,Na Boca da Noite,2016,68,Drama
86845,tt0088751,The Naked Monster,2005,100,"Comedy,Horror,Sci-Fi"
92819,tt0094859,Chief Zabu,2016,74,Comedy
93991,tt0096056,Crime and Punishment,2002,126,Drama
95433,tt0097540,Responso,2004,81,\N
98103,tt0100275,The Wandering Soap Opera,2017,80,"Comedy,Drama,Fantasy"
100143,tt0102362,Istota,2000,80,"Drama,Romance"
103575,tt0105849,Xavier,2003,100,\N
105395,tt0107706,Stupid Lovers,2000,\N,\N
106220,tt0108549,West from North Goes South,2004,96,"Comedy,Mystery"
106827,tt0109173,Auf allen Meeren,2002,95,Documentary
110086,tt0112502,Bigfoot,2017,\N,"Horror,Thriller"
110486,tt0112912,Dune 7,2002,97,Adventure
110656,tt0113086,Florentino y el diablo,2000,\N,Drama
110662,tt0113092,For the Cause,2000,100,Sci-Fi
111062,tt0113506,Justifiable Homicide,2002,\N,Documentary
111979,tt0114447,The Silent Force,2001,90,Action
112247,tt0114722,3 noches,2001,105,"Crime,Thriller"
113177,tt0115686,Biriken,2008,100,"Comedy,Fantasy"
113417,tt0115937,Consequence,2000,91,Drama
113857,tt0116391,Gang,2000,152,"Action,Crime,Drama"
114073,tt0116617,Impotent,2001,75,Comedy
114083,tt0116628,The Incorporated,2000,86,"Action,Thriller"
114199,tt0116748,Karobaar: The Business of Love,2000,180,"Drama,Romance"
114294,tt0116847,Leftovers,2000,\N,\N
114888,tt0117461,Remembering Mario,2003,\N,"Comedy,Romance"
115158,tt0117743,Still Waters Burn,2008,83,"Drama,Romance"
115538,tt0118141,What Is It?,2005,72,Drama
115549,tt0118154,White Hotel,2001,90,"Biography,Documentary"
...,...,...,...,...,...
5424549,tt9319940,Kholodny Yar. Intro,2016,60,Documentary
5424569,tt9319984,Sde Chemed,2011,\N,Documentary
5426047,tt9323034,Kayseri aslani: Çin isi...,2017,92,Comedy
5426179,tt9323310,A Prince Called Toto,2007,75,Documentary
5426410,tt9323780,Made Of Paper,2013,\N,\N
5426443,tt9323846,Wimbledon Official Film 2016,2016,\N,Documentary
5426459,tt9323878,Anything But Normal,2013,\N,\N
5426477,tt9323914,Tonight,2013,\N,\N
5426513,tt9323992,Scary Place,2013,\N,\N
5426726,tt9324428,Dos Otoños en Paris,2017,84,Drama
5426915,tt9324838,Al Murray The Pub Landlord: Beautiful British ...,2009,\N,Comedy
5427220,tt9325460,Kartabgar,2013,\N,Drama
5427263,tt9325558,9 Thirudargal,2015,117,Comedy
5428161,tt9327438,Still Here,2017,\N,Drama
5428297,tt9327720,Decline of an empire,2014,113,Drama
5428331,tt9327802,Having Never,2015,\N,Documentary
5428370,tt9327890,Shine,2014,\N,\N
5428373,tt9327896,The Audition Song,2014,\N,\N
5428377,tt9327904,La rose de sang,2014,\N,Adventure
5428379,tt9327908,Little Miss High & Mighty,2014,\N,\N
5428383,tt9327916,Shout Out Loud,2014,\N,\N
5428386,tt9327924,When Your A Wimp,2014,\N,\N
5428387,tt9327928,Unconquered,2014,\N,\N
5428390,tt9327934,Its A Hard Knock Life,2014,\N,\N
5428394,tt9327942,Andolan Ek Suruvat Ek Shevat,2014,\N,Action
5428567,tt9328314,Le blanc d'eyenga 2,2014,\N,Comedy
5429378,tt9330034,Auschwitz - La fábrica de muerte,2017,\N,Documentary
5429963,tt9331320,"Les dames de fer, un destin croisé",2015,52,Documentary
5430047,tt9331608,Crisis in Asia,2005,\N,Music
5430154,tt9332028,I Will Grab Women Soon,2016,202,Documentary

We filter out all ratings with at least 1000 votes:

In [9]:
title_ratings_filtered = title_ratings.loc[title_ratings['numVotes'] >= 1000]
title_ratings_filtered

           tconst  averageRating  numVotes
0       tt0000001            5.8      1440
2       tt0000003            6.6      1041
4       tt0000005            6.2      1736
7       tt0000008            5.6      1539
9       tt0000010            6.9      5128
11      tt0000012            7.4      8602
12      tt0000013            5.7      1319
13      tt0000014            7.2      3741
24      tt0000026            5.7      1137
27      tt0000029            5.9      2451
39      tt0000041            6.7      1201
68      tt0000070            6.4      1920
73      tt0000075            6.4      1221
89      tt0000091            6.7      2206
181     tt0000211            7.5      2683
192     tt0000230            6.5      1105
201     tt0000248            6.0      1075
249     tt0000359            7.2      2088
274     tt0000417            8.2     37067
275     tt0000420            6.3      2071
282     tt0000439            7.3     14535
286     tt0000447            6.4      1738
289     tt0000455            6.9      1491
307     tt0000499            7.7      2711
329     tt0000546            6.8      1468
395     tt0000682            6.9      1808
471     tt0000832            6.7      1837
643     tt0001223            6.5      3073
708     tt0001463            5.7      1234
723     tt0001527            7.8      2176
...           ...            ...       ...
882970  tt8661624            7.3      1249
883004  tt8665634            9.2      1019
883009  tt8665746            7.0      1005
883165  tt8679236            8.4     10160
883184  tt8680674            8.4      1107
883338  tt8688814            8.4      4764
883379  tt8690890            8.4      1205
883474  tt8697266            7.1      1648
883602  tt8707436            8.5      2128
883716  tt8714904            8.8      6941
883831  tt8725166            7.7      3108
883998  tt8733898            7.1      1105
884066  tt8738964            7.7      1523
884237  tt8752588            7.4      1166
884377  tt8765496            6.5      1031
884404  tt8769032            7.9      2010
884444  tt8773080            7.7      1496
884948  tt8809646            9.8     17062
885023  tt8816250            9.0      1049
885769  tt8893550            9.0      2264
886360  tt8954732            6.1      3918
887048  tt9017614            7.5      1430
887093  tt9022938            8.6      2192
887181  tt9031094            8.6      7085
887278  tt9036126            7.6      2191
887625  tt9063106            9.1      1516
887768  tt9077626            9.1      8366
888490  tt9151704            9.2      1440
888587  tt9165634            1.2      3283
889211  tt9231140            9.2      3939

[46913 rows x 3 columns]

In [10]:
movies_ratings = pd.merge(title_basics_filtered, title_ratings_filtered, on='tconst')
movies_ratings

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,72480
1,tt0118589,Glitter,2001,104,"Drama,Music,Romance",2.2,20532
2,tt0118652,The Attic Expeditions,2001,100,"Comedy,Horror,Mystery",5.1,1531
3,tt0118694,In the Mood for Love,2000,98,"Drama,Romance",8.1,100863
4,tt0118852,Chinese Coffee,2000,99,Drama,7.3,3423
5,tt0118926,The Dancer Upstairs,2002,132,"Crime,Drama,Thriller",7.0,6013
6,tt0119004,Don's Plum,2001,89,"Comedy,Drama",5.8,3669
7,tt0119273,Heavy Metal 2000,2000,88,"Action,Adventure,Animation",5.4,7028
8,tt0120202,State and Main,2000,105,"Comedy,Drama",6.8,19303
9,tt0120263,Songs from the Second Floor,2000,98,"Comedy,Drama",7.7,15176
10,tt0120467,Vulgar,2000,87,"Crime,Drama,Thriller",5.3,3766
11,tt0120626,April Captains,2000,123,"Drama,History,War",7.1,2630
12,tt0120630,Chicken Run,2000,84,"Adventure,Animation,Comedy",7.0,159199
13,tt0120667,Fantastic Four,2005,106,"Action,Adventure,Fantasy",5.7,291305
14,tt0120679,Frida,2002,123,"Biography,Drama,Romance",7.4,72460
15,tt0120681,From Hell,2001,122,"Horror,Mystery,Thriller",6.8,137016
16,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001,178,"Adventure,Drama,Fantasy",8.8,1453569
17,tt0120753,The Million Dollar Hotel,2000,122,"Drama,Mystery,Thriller",5.9,19677
18,tt0120755,Mission: Impossible II,2000,123,"Action,Adventure,Thriller",6.1,281903
19,tt0120804,Resident Evil,2002,100,"Action,Horror,Sci-Fi",6.7,226415
20,tt0120824,The Shipping News,2001,111,Drama,6.8,30505
21,tt0120903,X-Men,2000,104,"Action,Adventure,Sci-Fi",7.4,520050
22,tt0120912,Men in Black II,2002,88,"Action,Adventure,Comedy",6.1,301707
23,tt0120913,Titan A.E.,2000,94,"Action,Adventure,Animation",6.6,55602
24,tt0120917,The Emperor's New Groove,2000,78,"Adventure,Animation,Comedy",7.3,153926
25,tt0121164,Corpse Bride,2005,77,"Animation,Drama,Family",7.4,217950
26,tt0121765,Star Wars: Episode II - Attack of the Clones,2002,142,"Action,Adventure,Fantasy",6.6,554843
27,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,140,"Action,Adventure,Fantasy",7.6,618813
28,tt0122459,Return to Me,2000,115,"Comedy,Drama,Romance",6.9,18091
29,tt0123003,Bruno,2000,108,"Comedy,Drama",6.2,1269
...,...,...,...,...,...,...,...
15470,tt7279180,Sunny Side,2017,104,"Comedy,Drama",6.6,2360
15471,tt7291268,Gaga: Five Foot Two,2017,100,"Documentary,Music",7.1,8328
15472,tt7294534,Arjun Reddy,2017,182,"Action,Drama,Romance",8.5,12412
15473,tt7296862,SPF-18,2017,75,Romance,3.3,2396
15474,tt7312940,Singularity,2017,92,"Action,Adventure,Drama",4.0,11955
15475,tt7320560,Cuba and the Cameraman,2017,113,Documentary,8.2,1535
15476,tt7322850,Raja The Great,2017,149,Action,6.6,1090
15477,tt7355718,Aadu 2,2017,160,Comedy,7.3,1467
15478,tt7357302,Avicii: True Stories,2017,97,Documentary,7.7,4239
15479,tt7372916,Yol Ayrimi,2017,150,Drama,6.7,2566
15480,tt7399470,Qarib Qarib Singlle,2017,125,"Comedy,Romance",7.0,3685
15481,tt7427856,The Carmilla Movie,2017,97,"Comedy,Horror,Romance",6.8,1629
15482,tt7436642,The Last Note,2017,117,"Drama,War",7.8,1553
15483,tt7441032,Like.Share.Follow.,2017,97,"Horror,Romance,Thriller",5.2,1084
15484,tt7468056,The Outlaws,2017,121,"Action,Crime",7.1,1671
15485,tt7469726,Shaadi Mein Zaroor Aana,2017,137,"Drama,Family,Romance",7.8,8248
15486,tt7471004,The House Next Door,2017,137,Horror,6.8,1454
15487,tt7479784,"The Bold, the Corrupt, and the Beautiful",2017,112,"Mystery,Thriller",7.3,1490
15488,tt7516778,MCA Middle Class Abbayi,2017,144,"Action,Comedy",5.7,1105
15489,tt7518466,Conor McGregor: Notorious,2017,90,"Biography,Documentary,Sport",7.2,2407
15490,tt7533846,Time of happiness,2017,108,"Comedy,Romance",7.4,2886
15491,tt7535792,Yol Arkadasim,2017,115,Comedy,6.3,2905
15492,tt7535868,OHA Diyorum,2017,90,Comedy,2.6,5624
15493,tt7549892,Terrified,2017,87,Horror,6.7,1280
15494,tt7588752,The Problem with Apu,2017,49,Documentary,3.8,1442
15495,tt7588790,Voyeur,2017,95,Documentary,6.2,3140
15496,tt7608418,A Christmas Prince,2017,92,"Comedy,Romance",5.7,8382
15497,tt7642818,Aile Arasinda,2017,124,Comedy,8.0,10942
15498,tt7691572,Kiborgy,2017,112,War,8.5,5793
15499,tt7914416,One Cut of the Dead,2017,96,"Comedy,Horror",8.2,1836

In [11]:
movies_ratings_crew = pd.merge(movies_ratings, title_crew, on='tconst')
movies_ratings_crew

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,72480,nm0003506,"nm0737216,nm0003506"
1,tt0118589,Glitter,2001,104,"Drama,Music,Romance",2.2,20532,nm0193554,"nm0921985,nm0486824"
2,tt0118652,The Attic Expeditions,2001,100,"Comedy,Horror,Mystery",5.1,1531,nm0440948,nm0551138
3,tt0118694,In the Mood for Love,2000,98,"Drama,Romance",8.1,100863,nm0939182,nm0939182
4,tt0118852,Chinese Coffee,2000,99,Drama,7.3,3423,nm0000199,nm0507277
5,tt0118926,The Dancer Upstairs,2002,132,"Crime,Drama,Thriller",7.0,6013,nm0000518,nm0787649
6,tt0119004,Don's Plum,2001,89,"Comedy,Drama",5.8,3669,nm0730222,"nm0039192,nm0065818,nm0730222,nm0836476,nm0923673"
7,tt0119273,Heavy Metal 2000,2000,88,"Action,Adventure,Animation",5.4,7028,"nm0170402,nm0501341","nm0084253,nm0127560,nm0247653,nm0313274,nm0532..."
8,tt0120202,State and Main,2000,105,"Comedy,Drama",6.8,19303,nm0000519,nm0000519
9,tt0120263,Songs from the Second Floor,2000,98,"Comedy,Drama",7.7,15176,nm0027815,nm0027815
10,tt0120467,Vulgar,2000,87,"Crime,Drama,Thriller",5.3,3766,nm0424682,nm0424682
11,tt0120626,April Captains,2000,123,"Drama,History,War",7.1,2630,nm0210218,"nm0210218,nm0213476"
12,tt0120630,Chicken Run,2000,84,"Adventure,Animation,Comedy",7.0,159199,"nm0520485,nm0661910","nm0520485,nm0661910,nm0456732,nm0123666,nm0640976"
13,tt0120667,Fantastic Four,2005,106,"Action,Adventure,Fantasy",5.7,291305,nm1103162,"nm0004111,nm0289833,nm0498278,nm0456158"
14,tt0120679,Frida,2002,123,"Biography,Drama,Romance",7.4,72460,nm0853380,"nm0380419,nm0797397,nm1187860,nm0622695,nm0858482"
15,tt0120681,From Hell,2001,122,"Horror,Mystery,Thriller",6.8,137016,"nm0400441,nm0400436","nm0600872,nm0132427,nm0371249,nm0947913"
16,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001,178,"Adventure,Drama,Fantasy",8.8,1453569,nm0001392,"nm0866058,nm0909638,nm0101991,nm0001392"
17,tt0120753,The Million Dollar Hotel,2000,122,"Drama,Mystery,Thriller",5.9,19677,nm0000694,"nm0095104,nm0458911"
18,tt0120755,Mission: Impossible II,2000,123,"Action,Adventure,Thriller",6.1,281903,nm0000247,"nm0312367,nm0601822,nm0103804,nm0001801"
19,tt0120804,Resident Evil,2002,100,"Action,Horror,Sci-Fi",6.7,226415,nm0027271,nm0027271
20,tt0120824,The Shipping News,2001,111,Drama,6.8,30505,nm0002120,"nm0698925,nm0414608"
21,tt0120903,X-Men,2000,104,"Action,Adventure,Sci-Fi",7.4,520050,nm0001741,"nm0220892,nm0001741,nm0371684"
22,tt0120912,Men in Black II,2002,88,"Action,Adventure,Comedy",6.1,301707,nm0001756,"nm0192384,nm0330565,nm0266673"
23,tt0120913,Titan A.E.,2000,94,"Action,Adventure,Animation",6.6,55602,"nm0325776,nm0089940","nm0061829,nm0566595,nm0249421,nm0041864,nm0923736"
24,tt0120917,The Emperor's New Groove,2000,78,"Adventure,Animation,Comedy",7.3,153926,nm0227540,"nm0930261,nm0227540,nm0721675,nm0027459,nm2320..."
25,tt0121164,Corpse Bride,2005,77,"Animation,Drama,Family",7.4,217950,"nm0425843,nm0000318","nm0000318,nm0335022,nm0041864,nm0003031,nm0972040"
26,tt0121765,Star Wars: Episode II - Attack of the Clones,2002,142,"Action,Adventure,Fantasy",6.6,554843,nm0000184,"nm0000184,nm0355054"
27,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,140,"Action,Adventure,Fantasy",7.6,618813,nm0000184,nm0000184
28,tt0122459,Return to Me,2000,115,"Comedy,Drama,Romance",6.9,18091,nm0001372,"nm0001372,nm0482141,nm0827632,nm0329224"
29,tt0123003,Bruno,2000,108,"Comedy,Drama",6.2,1269,nm0000511,nm0162350
...,...,...,...,...,...,...,...,...,...
15470,tt7279180,Sunny Side,2017,104,"Comedy,Drama",6.6,2360,"nm0379775,nm0379773",nm0364162
15471,tt7291268,Gaga: Five Foot Two,2017,100,"Documentary,Music",7.1,8328,nm3139198,\N
15472,tt7294534,Arjun Reddy,2017,182,"Action,Drama,Romance",8.5,12412,nm9227039,nm9227039
15473,tt7296862,SPF-18,2017,75,Romance,3.3,2396,nm9228281,"nm9228281,nm0075276"
15474,tt7312940,Singularity,2017,92,"Action,Adventure,Drama",4.0,11955,nm4134911,"nm4134911,nm3173222"
15475,tt7320560,Cuba and the Cameraman,2017,113,Documentary,8.2,1535,nm0022412,nm0022412
15476,tt7322850,Raja The Great,2017,149,Action,6.6,1090,nm3902889,nm3902889
15477,tt7355718,Aadu 2,2017,160,Comedy,7.3,1467,nm6576552,\N
15478,tt7357302,Avicii: True Stories,2017,97,Documentary,7.7,4239,nm7433244,nm7433244
15479,tt7372916,Yol Ayrimi,2017,150,Drama,6.7,2566,nm0877078,nm0877078
15480,tt7399470,Qarib Qarib Singlle,2017,125,"Comedy,Romance",7.0,3685,nm0151511,"nm0133781,nm0151511,nm7430071"
15481,tt7427856,The Carmilla Movie,2017,97,"Comedy,Horror,Romance",6.8,1629,nm1308450,"nm3697320,nm4479554"
15482,tt7436642,The Last Note,2017,117,"Drama,War",7.8,1553,nm0903837,"nm1385719,nm0903837"
15483,tt7441032,Like.Share.Follow.,2017,97,"Horror,Romance,Thriller",5.2,1084,nm1020896,nm1020896
15484,tt7468056,The Outlaws,2017,121,"Action,Crime",7.1,1671,nm9322578,nm9322578
15485,tt7469726,Shaadi Mein Zaroor Aana,2017,137,"Drama,Family,Romance",7.8,8248,nm9323057,nm1520918
15486,tt7471004,The House Next Door,2017,137,Horror,6.8,1454,nm2528557,"nm2528557,nm1413459,nm1154600,nm7563714"
15487,tt7479784,"The Bold, the Corrupt, and the Beautiful",2017,112,"Mystery,Thriller",7.3,1490,nm3127578,nm3127578
15488,tt7516778,MCA Middle Class Abbayi,2017,144,"Action,Comedy",5.7,1105,nm4730668,"nm5337625,nm4730668,nm9489621,nm9489622"
15489,tt7518466,Conor McGregor: Notorious,2017,90,"Biography,Documentary,Sport",7.2,2407,nm4188781,\N
15490,tt7533846,Time of happiness,2017,108,"Comedy,Romance",7.4,2886,nm3481335,"nm5076843,nm2744078"
15491,tt7535792,Yol Arkadasim,2017,115,Comedy,6.3,2905,nm7960857,nm3635856
15492,tt7535868,OHA Diyorum,2017,90,Comedy,2.6,5624,nm1802425,nm1802425
15493,tt7549892,Terrified,2017,87,Horror,6.7,1280,nm1899608,nm1899608
15494,tt7588752,The Problem with Apu,2017,49,Documentary,3.8,1442,nm1386328,\N
15495,tt7588790,Voyeur,2017,95,Documentary,6.2,3140,"nm2906907,nm1159483",\N
15496,tt7608418,A Christmas Prince,2017,92,"Comedy,Romance",5.7,8382,nm0005618,"nm6912381,nm1405911"
15497,tt7642818,Aile Arasinda,2017,124,Comedy,8.0,10942,nm1560896,nm1665588
15498,tt7691572,Kiborgy,2017,112,War,8.5,5793,nm1982961,nm3770838
15499,tt7914416,One Cut of the Dead,2017,96,"Comedy,Horror",8.2,1836,nm4940051,nm4940051

In [12]:
import numpy as np

movies_ratings_crew['successfull'] = np.where(movies_ratings_crew['averageRating']>=7.0, '1', '0')
movies_ratings_crew

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,successfull
0,tt0035423,Kate & Leopold,2001,118,"Comedy,Fantasy,Romance",6.4,72480,nm0003506,"nm0737216,nm0003506",0
1,tt0118589,Glitter,2001,104,"Drama,Music,Romance",2.2,20532,nm0193554,"nm0921985,nm0486824",0
2,tt0118652,The Attic Expeditions,2001,100,"Comedy,Horror,Mystery",5.1,1531,nm0440948,nm0551138,0
3,tt0118694,In the Mood for Love,2000,98,"Drama,Romance",8.1,100863,nm0939182,nm0939182,1
4,tt0118852,Chinese Coffee,2000,99,Drama,7.3,3423,nm0000199,nm0507277,1
5,tt0118926,The Dancer Upstairs,2002,132,"Crime,Drama,Thriller",7.0,6013,nm0000518,nm0787649,1
6,tt0119004,Don's Plum,2001,89,"Comedy,Drama",5.8,3669,nm0730222,"nm0039192,nm0065818,nm0730222,nm0836476,nm0923673",0
7,tt0119273,Heavy Metal 2000,2000,88,"Action,Adventure,Animation",5.4,7028,"nm0170402,nm0501341","nm0084253,nm0127560,nm0247653,nm0313274,nm0532...",0
8,tt0120202,State and Main,2000,105,"Comedy,Drama",6.8,19303,nm0000519,nm0000519,0
9,tt0120263,Songs from the Second Floor,2000,98,"Comedy,Drama",7.7,15176,nm0027815,nm0027815,1
10,tt0120467,Vulgar,2000,87,"Crime,Drama,Thriller",5.3,3766,nm0424682,nm0424682,0
11,tt0120626,April Captains,2000,123,"Drama,History,War",7.1,2630,nm0210218,"nm0210218,nm0213476",1
12,tt0120630,Chicken Run,2000,84,"Adventure,Animation,Comedy",7.0,159199,"nm0520485,nm0661910","nm0520485,nm0661910,nm0456732,nm0123666,nm0640976",1
13,tt0120667,Fantastic Four,2005,106,"Action,Adventure,Fantasy",5.7,291305,nm1103162,"nm0004111,nm0289833,nm0498278,nm0456158",0
14,tt0120679,Frida,2002,123,"Biography,Drama,Romance",7.4,72460,nm0853380,"nm0380419,nm0797397,nm1187860,nm0622695,nm0858482",1
15,tt0120681,From Hell,2001,122,"Horror,Mystery,Thriller",6.8,137016,"nm0400441,nm0400436","nm0600872,nm0132427,nm0371249,nm0947913",0
16,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001,178,"Adventure,Drama,Fantasy",8.8,1453569,nm0001392,"nm0866058,nm0909638,nm0101991,nm0001392",1
17,tt0120753,The Million Dollar Hotel,2000,122,"Drama,Mystery,Thriller",5.9,19677,nm0000694,"nm0095104,nm0458911",0
18,tt0120755,Mission: Impossible II,2000,123,"Action,Adventure,Thriller",6.1,281903,nm0000247,"nm0312367,nm0601822,nm0103804,nm0001801",0
19,tt0120804,Resident Evil,2002,100,"Action,Horror,Sci-Fi",6.7,226415,nm0027271,nm0027271,0
20,tt0120824,The Shipping News,2001,111,Drama,6.8,30505,nm0002120,"nm0698925,nm0414608",0
21,tt0120903,X-Men,2000,104,"Action,Adventure,Sci-Fi",7.4,520050,nm0001741,"nm0220892,nm0001741,nm0371684",1
22,tt0120912,Men in Black II,2002,88,"Action,Adventure,Comedy",6.1,301707,nm0001756,"nm0192384,nm0330565,nm0266673",0
23,tt0120913,Titan A.E.,2000,94,"Action,Adventure,Animation",6.6,55602,"nm0325776,nm0089940","nm0061829,nm0566595,nm0249421,nm0041864,nm0923736",0
24,tt0120917,The Emperor's New Groove,2000,78,"Adventure,Animation,Comedy",7.3,153926,nm0227540,"nm0930261,nm0227540,nm0721675,nm0027459,nm2320...",1
25,tt0121164,Corpse Bride,2005,77,"Animation,Drama,Family",7.4,217950,"nm0425843,nm0000318","nm0000318,nm0335022,nm0041864,nm0003031,nm0972040",1
26,tt0121765,Star Wars: Episode II - Attack of the Clones,2002,142,"Action,Adventure,Fantasy",6.6,554843,nm0000184,"nm0000184,nm0355054",0
27,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,140,"Action,Adventure,Fantasy",7.6,618813,nm0000184,nm0000184,1
28,tt0122459,Return to Me,2000,115,"Comedy,Drama,Romance",6.9,18091,nm0001372,"nm0001372,nm0482141,nm0827632,nm0329224",0
29,tt0123003,Bruno,2000,108,"Comedy,Drama",6.2,1269,nm0000511,nm0162350,0
...,...,...,...,...,...,...,...,...,...,...
15470,tt7279180,Sunny Side,2017,104,"Comedy,Drama",6.6,2360,"nm0379775,nm0379773",nm0364162,0
15471,tt7291268,Gaga: Five Foot Two,2017,100,"Documentary,Music",7.1,8328,nm3139198,\N,1
15472,tt7294534,Arjun Reddy,2017,182,"Action,Drama,Romance",8.5,12412,nm9227039,nm9227039,1
15473,tt7296862,SPF-18,2017,75,Romance,3.3,2396,nm9228281,"nm9228281,nm0075276",0
15474,tt7312940,Singularity,2017,92,"Action,Adventure,Drama",4.0,11955,nm4134911,"nm4134911,nm3173222",0
15475,tt7320560,Cuba and the Cameraman,2017,113,Documentary,8.2,1535,nm0022412,nm0022412,1
15476,tt7322850,Raja The Great,2017,149,Action,6.6,1090,nm3902889,nm3902889,0
15477,tt7355718,Aadu 2,2017,160,Comedy,7.3,1467,nm6576552,\N,1
15478,tt7357302,Avicii: True Stories,2017,97,Documentary,7.7,4239,nm7433244,nm7433244,1
15479,tt7372916,Yol Ayrimi,2017,150,Drama,6.7,2566,nm0877078,nm0877078,0
15480,tt7399470,Qarib Qarib Singlle,2017,125,"Comedy,Romance",7.0,3685,nm0151511,"nm0133781,nm0151511,nm7430071",1
15481,tt7427856,The Carmilla Movie,2017,97,"Comedy,Horror,Romance",6.8,1629,nm1308450,"nm3697320,nm4479554",0
15482,tt7436642,The Last Note,2017,117,"Drama,War",7.8,1553,nm0903837,"nm1385719,nm0903837",1
15483,tt7441032,Like.Share.Follow.,2017,97,"Horror,Romance,Thriller",5.2,1084,nm1020896,nm1020896,0
15484,tt7468056,The Outlaws,2017,121,"Action,Crime",7.1,1671,nm9322578,nm9322578,1
15485,tt7469726,Shaadi Mein Zaroor Aana,2017,137,"Drama,Family,Romance",7.8,8248,nm9323057,nm1520918,1
15486,tt7471004,The House Next Door,2017,137,Horror,6.8,1454,nm2528557,"nm2528557,nm1413459,nm1154600,nm7563714",0
15487,tt7479784,"The Bold, the Corrupt, and the Beautiful",2017,112,"Mystery,Thriller",7.3,1490,nm3127578,nm3127578,1
15488,tt7516778,MCA Middle Class Abbayi,2017,144,"Action,Comedy",5.7,1105,nm4730668,"nm5337625,nm4730668,nm9489621,nm9489622",0
15489,tt7518466,Conor McGregor: Notorious,2017,90,"Biography,Documentary,Sport",7.2,2407,nm4188781,\N,1
15490,tt7533846,Time of happiness,2017,108,"Comedy,Romance",7.4,2886,nm3481335,"nm5076843,nm2744078",1
15491,tt7535792,Yol Arkadasim,2017,115,Comedy,6.3,2905,nm7960857,nm3635856,0
15492,tt7535868,OHA Diyorum,2017,90,Comedy,2.6,5624,nm1802425,nm1802425,0
15493,tt7549892,Terrified,2017,87,Horror,6.7,1280,nm1899608,nm1899608,0
15494,tt7588752,The Problem with Apu,2017,49,Documentary,3.8,1442,nm1386328,\N,0
15495,tt7588790,Voyeur,2017,95,Documentary,6.2,3140,"nm2906907,nm1159483",\N,0
15496,tt7608418,A Christmas Prince,2017,92,"Comedy,Romance",5.7,8382,nm0005618,"nm6912381,nm1405911",0
15497,tt7642818,Aile Arasinda,2017,124,Comedy,8.0,10942,nm1560896,nm1665588,1
15498,tt7691572,Kiborgy,2017,112,War,8.5,5793,nm1982961,nm3770838,1
15499,tt7914416,One Cut of the Dead,2017,96,"Comedy,Horror",8.2,1836,nm4940051,nm4940051,1

Number of successfull movies:

In [13]:
movies_ratings_crew.successfull.value_counts()

0    10730
1     4770
Name: successfull, dtype: int64

Delete rows without a runtime:

In [14]:
for i, row in movies_ratings_crew.iterrows():
    try:
        movies_ratings_crew.at[i,'runtimeMinutes'] = int(movies_ratings_crew.at[i,'runtimeMinutes'])
    except ValueError:
        movies_ratings_crew.at[i,'runtimeMinutes'] = None

In [15]:
movies_ratings_crew = movies_ratings_crew.dropna(subset=['runtimeMinutes'])
movies_ratings_crew.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15451 entries, 0 to 15499
Data columns (total 10 columns):
tconst            15451 non-null object
primaryTitle      15451 non-null object
startYear         15451 non-null object
runtimeMinutes    15451 non-null object
genres            15451 non-null object
averageRating     15451 non-null float64
numVotes          15451 non-null int32
directors         15451 non-null object
writers           15451 non-null object
successfull       15451 non-null object
dtypes: float64(1), int32(1), object(8)
memory usage: 1.2+ MB

Get only the first director, writer and genre:

In [16]:
for i, row in movies_ratings_crew.iterrows():
      movies_ratings_crew.at[i,'directors'] = movies_ratings_crew.at[i,'directors'].split(',')[0]

In [17]:
for i, row in movies_ratings_crew.iterrows():
      movies_ratings_crew.at[i,'writers'] = movies_ratings_crew.at[i,'writers'].split(',')[0]

In [18]:
for i, row in movies_ratings_crew.iterrows():
      movies_ratings_crew.at[i,'genres'] = movies_ratings_crew.at[i,'genres'].split(',')[0]

In [19]:
movies_ratings_crew

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,successfull
0,tt0035423,Kate & Leopold,2001,118,Comedy,6.4,72480,nm0003506,nm0737216,0
1,tt0118589,Glitter,2001,104,Drama,2.2,20532,nm0193554,nm0921985,0
2,tt0118652,The Attic Expeditions,2001,100,Comedy,5.1,1531,nm0440948,nm0551138,0
3,tt0118694,In the Mood for Love,2000,98,Drama,8.1,100863,nm0939182,nm0939182,1
4,tt0118852,Chinese Coffee,2000,99,Drama,7.3,3423,nm0000199,nm0507277,1
5,tt0118926,The Dancer Upstairs,2002,132,Crime,7.0,6013,nm0000518,nm0787649,1
6,tt0119004,Don's Plum,2001,89,Comedy,5.8,3669,nm0730222,nm0039192,0
7,tt0119273,Heavy Metal 2000,2000,88,Action,5.4,7028,nm0170402,nm0084253,0
8,tt0120202,State and Main,2000,105,Comedy,6.8,19303,nm0000519,nm0000519,0
9,tt0120263,Songs from the Second Floor,2000,98,Comedy,7.7,15176,nm0027815,nm0027815,1
10,tt0120467,Vulgar,2000,87,Crime,5.3,3766,nm0424682,nm0424682,0
11,tt0120626,April Captains,2000,123,Drama,7.1,2630,nm0210218,nm0210218,1
12,tt0120630,Chicken Run,2000,84,Adventure,7.0,159199,nm0520485,nm0520485,1
13,tt0120667,Fantastic Four,2005,106,Action,5.7,291305,nm1103162,nm0004111,0
14,tt0120679,Frida,2002,123,Biography,7.4,72460,nm0853380,nm0380419,1
15,tt0120681,From Hell,2001,122,Horror,6.8,137016,nm0400441,nm0600872,0
16,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001,178,Adventure,8.8,1453569,nm0001392,nm0866058,1
17,tt0120753,The Million Dollar Hotel,2000,122,Drama,5.9,19677,nm0000694,nm0095104,0
18,tt0120755,Mission: Impossible II,2000,123,Action,6.1,281903,nm0000247,nm0312367,0
19,tt0120804,Resident Evil,2002,100,Action,6.7,226415,nm0027271,nm0027271,0
20,tt0120824,The Shipping News,2001,111,Drama,6.8,30505,nm0002120,nm0698925,0
21,tt0120903,X-Men,2000,104,Action,7.4,520050,nm0001741,nm0220892,1
22,tt0120912,Men in Black II,2002,88,Action,6.1,301707,nm0001756,nm0192384,0
23,tt0120913,Titan A.E.,2000,94,Action,6.6,55602,nm0325776,nm0061829,0
24,tt0120917,The Emperor's New Groove,2000,78,Adventure,7.3,153926,nm0227540,nm0930261,1
25,tt0121164,Corpse Bride,2005,77,Animation,7.4,217950,nm0425843,nm0000318,1
26,tt0121765,Star Wars: Episode II - Attack of the Clones,2002,142,Action,6.6,554843,nm0000184,nm0000184,0
27,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,140,Action,7.6,618813,nm0000184,nm0000184,1
28,tt0122459,Return to Me,2000,115,Comedy,6.9,18091,nm0001372,nm0001372,0
29,tt0123003,Bruno,2000,108,Comedy,6.2,1269,nm0000511,nm0162350,0
...,...,...,...,...,...,...,...,...,...,...
15470,tt7279180,Sunny Side,2017,104,Comedy,6.6,2360,nm0379775,nm0364162,0
15471,tt7291268,Gaga: Five Foot Two,2017,100,Documentary,7.1,8328,nm3139198,\N,1
15472,tt7294534,Arjun Reddy,2017,182,Action,8.5,12412,nm9227039,nm9227039,1
15473,tt7296862,SPF-18,2017,75,Romance,3.3,2396,nm9228281,nm9228281,0
15474,tt7312940,Singularity,2017,92,Action,4.0,11955,nm4134911,nm4134911,0
15475,tt7320560,Cuba and the Cameraman,2017,113,Documentary,8.2,1535,nm0022412,nm0022412,1
15476,tt7322850,Raja The Great,2017,149,Action,6.6,1090,nm3902889,nm3902889,0
15477,tt7355718,Aadu 2,2017,160,Comedy,7.3,1467,nm6576552,\N,1
15478,tt7357302,Avicii: True Stories,2017,97,Documentary,7.7,4239,nm7433244,nm7433244,1
15479,tt7372916,Yol Ayrimi,2017,150,Drama,6.7,2566,nm0877078,nm0877078,0
15480,tt7399470,Qarib Qarib Singlle,2017,125,Comedy,7.0,3685,nm0151511,nm0133781,1
15481,tt7427856,The Carmilla Movie,2017,97,Comedy,6.8,1629,nm1308450,nm3697320,0
15482,tt7436642,The Last Note,2017,117,Drama,7.8,1553,nm0903837,nm1385719,1
15483,tt7441032,Like.Share.Follow.,2017,97,Horror,5.2,1084,nm1020896,nm1020896,0
15484,tt7468056,The Outlaws,2017,121,Action,7.1,1671,nm9322578,nm9322578,1
15485,tt7469726,Shaadi Mein Zaroor Aana,2017,137,Drama,7.8,8248,nm9323057,nm1520918,1
15486,tt7471004,The House Next Door,2017,137,Horror,6.8,1454,nm2528557,nm2528557,0
15487,tt7479784,"The Bold, the Corrupt, and the Beautiful",2017,112,Mystery,7.3,1490,nm3127578,nm3127578,1
15488,tt7516778,MCA Middle Class Abbayi,2017,144,Action,5.7,1105,nm4730668,nm5337625,0
15489,tt7518466,Conor McGregor: Notorious,2017,90,Biography,7.2,2407,nm4188781,\N,1
15490,tt7533846,Time of happiness,2017,108,Comedy,7.4,2886,nm3481335,nm5076843,1
15491,tt7535792,Yol Arkadasim,2017,115,Comedy,6.3,2905,nm7960857,nm3635856,0
15492,tt7535868,OHA Diyorum,2017,90,Comedy,2.6,5624,nm1802425,nm1802425,0
15493,tt7549892,Terrified,2017,87,Horror,6.7,1280,nm1899608,nm1899608,0
15494,tt7588752,The Problem with Apu,2017,49,Documentary,3.8,1442,nm1386328,\N,0
15495,tt7588790,Voyeur,2017,95,Documentary,6.2,3140,nm2906907,\N,0
15496,tt7608418,A Christmas Prince,2017,92,Comedy,5.7,8382,nm0005618,nm6912381,0
15497,tt7642818,Aile Arasinda,2017,124,Comedy,8.0,10942,nm1560896,nm1665588,1
15498,tt7691572,Kiborgy,2017,112,War,8.5,5793,nm1982961,nm3770838,1
15499,tt7914416,One Cut of the Dead,2017,96,Comedy,8.2,1836,nm4940051,nm4940051,1

Get the top 2 actors for each movie:

In [29]:
title_principals_filtered = title_principals[(title_principals.category == "actor") | (title_principals.category == "actress")]
title_principals_filtered = title_principals_filtered[title_principals.ordering == 1]
title_principals_filtered = title_principals_filtered[title_principals['tconst'].isin(movies_ratings_crew['tconst'])]
title_principals_filtered

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

             tconst  ordering     nconst category
280645    tt0035423         1  nm0000212  actress
1006072   tt0118589         1  nm0001014  actress
1006617   tt0118652         1  nm0427470    actor
1006986   tt0118694         1  nm0504897    actor
1008369   tt0118852         1  nm0000199    actor
1009057   tt0118926         1  nm0000849    actor
1009751   tt0119004         1  nm0089231    actor
1012010   tt0119273         1  nm0000461    actor
1020096   tt0120202         1  nm0000450    actor
1020642   tt0120263         1  nm0635070    actor
1022461   tt0120467         1  nm0641168    actor
1023762   tt0120626         1  nm0009629    actor
1023792   tt0120630         1  nm0000154    actor
1024052   tt0120667         1  nm0344435    actor
1024135   tt0120679         1  nm0000161  actress
1024155   tt0120681         1  nm0000136    actor
1024557   tt0120737         1  nm0000704    actor
1024689   tt0120753         1  nm0001111    actor
1024709   tt0120755         1  nm0000129    actor
1025114   tt0120804         1  nm0000170  actress
1025218   tt0120824         1  nm0000228    actor
1025774   tt0120903         1  nm0001772    actor
1025814   tt0120912         1  nm0000169    actor
1025824   tt0120913         1  nm0000354    actor
1025844   tt0120917         1  nm0005450    actor
1027286   tt0121164         1  nm0000136    actor
1031216   tt0121765         1  nm0159789    actor
1031226   tt0121766         1  nm0159789    actor
1035994   tt0122459         1  nm0000141    actor
1040208   tt0123003         1  nm0513281    actor
...             ...       ...        ...      ...
25594939  tt7221896         1  nm9496007    actor
25652439  tt7245176         1  nm0465503    actor
25669797  tt7252000         1  nm0024950    actor
25689876  tt7260048         1  nm0004908  actress
25701086  tt7264080         1  nm0127373    actor
25740390  tt7279180         1  nm0379773    actor
25778344  tt7294534         1  nm4797922    actor
25784872  tt7296862         1  nm6910083  actress
25823869  tt7312940         1  nm5518392    actor
25849344  tt7322850         1  nm0712433    actor
25928318  tt7355718         1  nm1334389    actor
25964667  tt7372916         1  nm0784038    actor
26030014  tt7399470         1  nm0451234    actor
26094991  tt7427856         1  nm6850865  actress
26112671  tt7436642         1  nm0176141    actor
26121882  tt7441032         1  nm2920533    actor
26178892  tt7468056         1  nm3014912  actress
26180256  tt7469726         1  nm3822770    actor
26183124  tt7471004         1  nm5787869    actor
26203902  tt7479784         1  nm0401192  actress
26280541  tt7516778         1  nm3761004    actor
26317800  tt7533846         1  nm5724370  actress
26320805  tt7535792         1  nm3533607    actor
26320914  tt7535868         1  nm9315493    actor
26350253  tt7549892         1  nm7714130    actor
26440939  tt7588790         1  nm3329371    actor
26488573  tt7608418         1  nm0570860  actress
26574798  tt7642818         1  nm1085525    actor
26700150  tt7691572         1  nm1194362    actor
27278730  tt7914416         1  nm9576872    actor

[14581 rows x 4 columns]

In [30]:
title_principals_filtered = title_principals_filtered[['tconst', 'nconst']]
title_principals_filtered

             tconst     nconst
280645    tt0035423  nm0000212
1006072   tt0118589  nm0001014
1006617   tt0118652  nm0427470
1006986   tt0118694  nm0504897
1008369   tt0118852  nm0000199
1009057   tt0118926  nm0000849
1009751   tt0119004  nm0089231
1012010   tt0119273  nm0000461
1020096   tt0120202  nm0000450
1020642   tt0120263  nm0635070
1022461   tt0120467  nm0641168
1023762   tt0120626  nm0009629
1023792   tt0120630  nm0000154
1024052   tt0120667  nm0344435
1024135   tt0120679  nm0000161
1024155   tt0120681  nm0000136
1024557   tt0120737  nm0000704
1024689   tt0120753  nm0001111
1024709   tt0120755  nm0000129
1025114   tt0120804  nm0000170
1025218   tt0120824  nm0000228
1025774   tt0120903  nm0001772
1025814   tt0120912  nm0000169
1025824   tt0120913  nm0000354
1025844   tt0120917  nm0005450
1027286   tt0121164  nm0000136
1031216   tt0121765  nm0159789
1031226   tt0121766  nm0159789
1035994   tt0122459  nm0000141
1040208   tt0123003  nm0513281
...             ...        ...
25594939  tt7221896  nm9496007
25652439  tt7245176  nm0465503
25669797  tt7252000  nm0024950
25689876  tt7260048  nm0004908
25701086  tt7264080  nm0127373
25740390  tt7279180  nm0379773
25778344  tt7294534  nm4797922
25784872  tt7296862  nm6910083
25823869  tt7312940  nm5518392
25849344  tt7322850  nm0712433
25928318  tt7355718  nm1334389
25964667  tt7372916  nm0784038
26030014  tt7399470  nm0451234
26094991  tt7427856  nm6850865
26112671  tt7436642  nm0176141
26121882  tt7441032  nm2920533
26178892  tt7468056  nm3014912
26180256  tt7469726  nm3822770
26183124  tt7471004  nm5787869
26203902  tt7479784  nm0401192
26280541  tt7516778  nm3761004
26317800  tt7533846  nm5724370
26320805  tt7535792  nm3533607
26320914  tt7535868  nm9315493
26350253  tt7549892  nm7714130
26440939  tt7588790  nm3329371
26488573  tt7608418  nm0570860
26574798  tt7642818  nm1085525
26700150  tt7691572  nm1194362
27278730  tt7914416  nm9576872

[14581 rows x 2 columns]

In [31]:
movies_ratings_crew_actors = pd.merge(movies_ratings_crew, title_principals_filtered, on='tconst')
movies_ratings_crew_actors = movies_ratings_crew_actors.rename(columns={'nconst': 'actor1'})
movies_ratings_crew_actors

,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes,directors,writers,successfull,actor1
0,tt0035423,Kate & Leopold,2001,118,Comedy,6.4,72480,nm0003506,nm0737216,0,nm0000212
1,tt0118589,Glitter,2001,104,Drama,2.2,20532,nm0193554,nm0921985,0,nm0001014
2,tt0118652,The Attic Expeditions,2001,100,Comedy,5.1,1531,nm0440948,nm0551138,0,nm0427470
3,tt0118694,In the Mood for Love,2000,98,Drama,8.1,100863,nm0939182,nm0939182,1,nm0504897
4,tt0118852,Chinese Coffee,2000,99,Drama,7.3,3423,nm0000199,nm0507277,1,nm0000199
5,tt0118926,The Dancer Upstairs,2002,132,Crime,7.0,6013,nm0000518,nm0787649,1,nm0000849
6,tt0119004,Don's Plum,2001,89,Comedy,5.8,3669,nm0730222,nm0039192,0,nm0089231
7,tt0119273,Heavy Metal 2000,2000,88,Action,5.4,7028,nm0170402,nm0084253,0,nm0000461
8,tt0120202,State and Main,2000,105,Comedy,6.8,19303,nm0000519,nm0000519,0,nm0000450
9,tt0120263,Songs from the Second Floor,2000,98,Comedy,7.7,15176,nm0027815,nm0027815,1,nm0635070
10,tt0120467,Vulgar,2000,87,Crime,5.3,3766,nm0424682,nm0424682,0,nm0641168
11,tt0120626,April Captains,2000,123,Drama,7.1,2630,nm0210218,nm0210218,1,nm0009629
12,tt0120630,Chicken Run,2000,84,Adventure,7.0,159199,nm0520485,nm0520485,1,nm0000154
13,tt0120667,Fantastic Four,2005,106,Action,5.7,291305,nm1103162,nm0004111,0,nm0344435
14,tt0120679,Frida,2002,123,Biography,7.4,72460,nm0853380,nm0380419,1,nm0000161
15,tt0120681,From Hell,2001,122,Horror,6.8,137016,nm0400441,nm0600872,0,nm0000136
16,tt0120737,The Lord of the Rings: The Fellowship of the Ring,2001,178,Adventure,8.8,1453569,nm0001392,nm0866058,1,nm0000704
17,tt0120753,The Million Dollar Hotel,2000,122,Drama,5.9,19677,nm0000694,nm0095104,0,nm0001111
18,tt0120755,Mission: Impossible II,2000,123,Action,6.1,281903,nm0000247,nm0312367,0,nm0000129
19,tt0120804,Resident Evil,2002,100,Action,6.7,226415,nm0027271,nm0027271,0,nm0000170
20,tt0120824,The Shipping News,2001,111,Drama,6.8,30505,nm0002120,nm0698925,0,nm0000228
21,tt0120903,X-Men,2000,104,Action,7.4,520050,nm0001741,nm0220892,1,nm0001772
22,tt0120912,Men in Black II,2002,88,Action,6.1,301707,nm0001756,nm0192384,0,nm0000169
23,tt0120913,Titan A.E.,2000,94,Action,6.6,55602,nm0325776,nm0061829,0,nm0000354
24,tt0120917,The Emperor's New Groove,2000,78,Adventure,7.3,153926,nm0227540,nm0930261,1,nm0005450
25,tt0121164,Corpse Bride,2005,77,Animation,7.4,217950,nm0425843,nm0000318,1,nm0000136
26,tt0121765,Star Wars: Episode II - Attack of the Clones,2002,142,Action,6.6,554843,nm0000184,nm0000184,0,nm0159789
27,tt0121766,Star Wars: Episode III - Revenge of the Sith,2005,140,Action,7.6,618813,nm0000184,nm0000184,1,nm0159789
28,tt0122459,Return to Me,2000,115,Comedy,6.9,18091,nm0001372,nm0001372,0,nm0000141
29,tt0123003,Bruno,2000,108,Comedy,6.2,1269,nm0000511,nm0162350,0,nm0513281
...,...,...,...,...,...,...,...,...,...,...,...
14551,tt7221896,Cumali Ceber: Allah Seni Alsin,2017,100,Comedy,1.3,36351,nm9107963,nm9180829,0,nm9496007
14552,tt7245176,Paradox,2017,101,Action,6.6,2051,nm0948159,nm9196623,0,nm0465503
14553,tt7252000,Maktub,2017,100,Comedy,8.0,1245,nm3571021,nm0024950,1,nm0024950
14554,tt7260048,Outside In,2017,109,Drama,6.6,1468,nm1119645,nm1119645,0,nm0004908
14555,tt7264080,"I Love You, Daddy",2017,123,Comedy,6.3,2809,nm0127373,nm0127373,0,nm0127373
14556,tt7279180,Sunny Side,2017,104,Comedy,6.6,2360,nm0379775,nm0364162,0,nm0379773
14557,tt7294534,Arjun Reddy,2017,182,Action,8.5,12412,nm9227039,nm9227039,1,nm4797922
14558,tt7296862,SPF-18,2017,75,Romance,3.3,2396,nm9228281,nm9228281,0,nm6910083
14559,tt7312940,Singularity,2017,92,Action,4.0,11955,nm4134911,nm4134911,0,nm5518392
14560,tt7322850,Raja The Great,2017,149,Action,6.6,1090,nm3902889,nm3902889,0,nm0712433
14561,tt7355718,Aadu 2,2017,160,Comedy,7.3,1467,nm6576552,\N,1,nm1334389
14562,tt7372916,Yol Ayrimi,2017,150,Drama,6.7,2566,nm0877078,nm0877078,0,nm0784038
14563,tt7399470,Qarib Qarib Singlle,2017,125,Comedy,7.0,3685,nm0151511,nm0133781,1,nm0451234
14564,tt7427856,The Carmilla Movie,2017,97,Comedy,6.8,1629,nm1308450,nm3697320,0,nm6850865
14565,tt7436642,The Last Note,2017,117,Drama,7.8,1553,nm0903837,nm1385719,1,nm0176141
14566,tt7441032,Like.Share.Follow.,2017,97,Horror,5.2,1084,nm1020896,nm1020896,0,nm2920533
14567,tt7468056,The Outlaws,2017,121,Action,7.1,1671,nm9322578,nm9322578,1,nm3014912
14568,tt7469726,Shaadi Mein Zaroor Aana,2017,137,Drama,7.8,8248,nm9323057,nm1520918,1,nm3822770
14569,tt7471004,The House Next Door,2017,137,Horror,6.8,1454,nm2528557,nm2528557,0,nm5787869
14570,tt7479784,"The Bold, the Corrupt, and the Beautiful",2017,112,Mystery,7.3,1490,nm3127578,nm3127578,1,nm0401192
14571,tt7516778,MCA Middle Class Abbayi,2017,144,Action,5.7,1105,nm4730668,nm5337625,0,nm3761004
14572,tt7533846,Time of happiness,2017,108,Comedy,7.4,2886,nm3481335,nm5076843,1,nm5724370
14573,tt7535792,Yol Arkadasim,2017,115,Comedy,6.3,2905,nm7960857,nm3635856,0,nm3533607
14574,tt7535868,OHA Diyorum,2017,90,Comedy,2.6,5624,nm1802425,nm1802425,0,nm9315493
14575,tt7549892,Terrified,2017,87,Horror,6.7,1280,nm1899608,nm1899608,0,nm7714130
14576,tt7588790,Voyeur,2017,95,Documentary,6.2,3140,nm2906907,\N,0,nm3329371
14577,tt7608418,A Christmas Prince,2017,92,Comedy,5.7,8382,nm0005618,nm6912381,0,nm0570860
14578,tt7642818,Aile Arasinda,2017,124,Comedy,8.0,10942,nm1560896,nm1665588,1,nm1085525
14579,tt7691572,Kiborgy,2017,112,War,8.5,5793,nm1982961,nm3770838,1,nm1194362
14580,tt7914416,One Cut of the Dead,2017,96,Comedy,8.2,1836,nm4940051,nm4940051,1,nm9576872

In [ ]:
title_principals_filtered = title_principals[(title_principals.category == "actor") | (title_principals.category == "actress")]
title_principals_filtered = title_principals_filtered[title_principals.ordering == 2]
title_principals_filtered = title_principals_filtered[title_principals['tconst'].isin(movies_ratings_crew['tconst'])]
title_principals_filtered

In [ ]:
title_principals_filtered = title_principals_filtered[['tconst', 'nconst']]
title_principals_filtered

In [ ]:
movies_ratings_crew_actors = pd.merge(movies_ratings_crew_actors, title_principals_filtered, on='tconst')
movies_ratings_crew_actors = movies_ratings_crew_actors.rename(columns={'nconst': 'actor2'})
movies_ratings_crew_actors

## 4. Data analysis

*Document you choice and motivation for selected data mining method(s) here. Choose a data mining method(s) to use in Python code to perform an analysis of your chosen dataset. Describe why you chose the method(s) and what interesting things you have found from the analysis.*

The method chosen for this analysis is classification and the technique used is the decision tree classifier. A decision tree is a methodology to reach a final conclusion by taking a complex decision and divide it into easier decisions (Safian, Landgrebe, 1991). By asking questions about the attributes, and then supplementary questions, in a hierarchical way, a decision or conclusion will finally be reached (Steinbach Kumar, 2014). A tree has three types of nodes, root node, internal nodes and leafs (2014).  When asking questions and receiving answers a path will follow the nodes until a leaf is reached and that is where the final decision or conclusion is being made (2014).

 Hunts algorithm?

This technique will enable the possibilities to do a prediction if a movie will get high rating or not by asking questions and following the nodes to see whether the movie fulfils all the criteria to become a highly rated movie.

In [26]:
import collections
most_popular_directors = collections.Counter(movies_ratings_crew["directors"]).most_common()
most_popular_directors = pd.DataFrame(list(most_popular_directors))
most_popular_directors.columns = ["nconst", "No. of movies"]
most_popular_directors

         nconst  No. of movies
0     nm0586281             29
1     nm0093051             24
2     nm0001752             19
3     nm0000095             18
4     nm0935863             18
5     nm0864775             18
6     nm0698184             17
7     nm1347153             17
8     nm0001348             16
9     nm0000631             15
10    nm0654830             15
11    nm1104118             15
12    nm0316795             15
13    nm0000142             14
14    nm0223522             14
15    nm0890060             14
16    nm0001241             13
17    nm0000229             13
18    nm0000500             13
19    nm0007082             13
20    nm0002120             12
21    nm0000165             12
22    nm0516360             12
23    nm0000490             12
24    nm0951197             12
25    nm0337773             12
26    nm0814469             12
27    nm1460159             12
28    nm1103162             11
29    nm0001675             11
...         ...            ...
8348  nm0790743              1
8349  nm5657066              1
8350  nm2735954              1
8351  nm1155348              1
8352  nm1160206              1
8353  nm0994499              1
8354  nm9107963              1
8355  nm3571021              1
8356  nm9227039              1
8357  nm9228281              1
8358  nm4134911              1
8359  nm0022412              1
8360  nm3902889              1
8361  nm6576552              1
8362  nm7433244              1
8363  nm0151511              1
8364  nm1308450              1
8365  nm1020896              1
8366  nm9322578              1
8367  nm9323057              1
8368  nm2528557              1
8369  nm4730668              1
8370  nm4188781              1
8371  nm3481335              1
8372  nm1802425              1
8373  nm1899608              1
8374  nm1386328              1
8375  nm2906907              1
8376  nm1982961              1
8377  nm4940051              1

[8378 rows x 2 columns]

In [27]:
most_popular_directors = pd.merge(most_popular_directors, name_basics, on='nconst')
most_popular_directors[['No. of movies', 'primaryName']]

      No. of movies           primaryName
0                29         Takashi Miike
1                24              Uwe Boll
2                19     Steven Soderbergh
3                18           Woody Allen
4                18  Michael Winterbottom
5                18            Johnnie To
6                17          Priyadarshan
7                17           Tyler Perry
8                16         Werner Herzog
9                15          Ridley Scott
10               15         François Ozon
11               15            Ki-duk Kim
12               15           Alex Gibney
13               14        Clint Eastwood
14               14          David Dhawan
15               14       Ram Gopal Varma
16               13        Stephen Frears
17               13      Steven Spielberg
18               13     Richard Linklater
19               13        John Stockwell
20               12       Lasse Hallström
21               12            Ron Howard
22               12             Ken Loach
23               12             Spike Lee
24               12       Kunihiko Yuyama
25               12    David Gordon Green
26               12             Sion Sono
27               12          Rohit Shetty
28               11             Tim Story
29               11      Robert Rodriguez
...             ...                   ...
8347              1           Todd Sheets
8348              1   Hiphop Tamizha Adhi
8349              1             Vivian Qu
8350              1              Iram Haq
8351              1         Jed Rothstein
8352              1           Greg Barker
8353              1            Gökhan Gök
8354              1              Oded Raz
8355              1   Sandeep Reddy Vanga
8356              1           Alex Israel
8357              1          Robert Kouba
8358              1            Jon Alpert
8359              1         Anil Ravipudi
8360              1  Midhun Manuel Thomas
8361              1   Levan Tsikurishvili
8362              1        Tanuja Chandra
8363              1        Spencer Maybee
8364              1            Glenn Gers
8365              1       Yoon-Seong Kang
8366              1          Ratnaa Sinha
8367              1            Milind Rau
8368              1           Venu Sriram
8369              1      Gavin Fitzgerald
8370              1          Senol Sönmez
8371              1            Ersan Özer
8372              1          Demián Rugna
8373              1    Michael Melamedoff
8374              1            Myles Kane
8375              1     Akhtem Seitablaev
8376              1      Shin'ichirô Ueda

[8377 rows x 2 columns]

## 5. Evaluation of results

*Document an evaluation your analysis results and describe how potentially actionable they are.*

In [28]:
# Add your own code

## 6. Schedule and description of project plan

*Rough schedule for the project beyond the pilot study presented in 3-5. This does not have to be advanced, you can simply provide an estimate based upon reported schedules for similar projects in the literature.*

The project plan for this project is based on the CRISP-DM model, showing the steps for best practice in data mining.

<img src="CRISP-DM.png">

*Figure 1: Phases of the CRISP-DM reference model*

**Business Understanding**

The first step of CRISP is to get an understanding of the business, the organisation and the environment.  In this case it is about to get an understanding of the movie production business and to see what criterias that can be considered as a successful movies. What factors  that will be considered as a successful data mining result should also be decided in this step. 

We have an idea of what results we want to get and how to get it, what will take most of the time, in this step, is to learn more about the business. Therefore, the estimated time for this will be XX (% / hours).


**Data Understanding**

In this step the data should be collected, described, verified and initially analysed. The data understanding is included in stage 3 of this report where the datasets from IMDb are collected, then described in terms of data types and visualised in a table. 


The collection of the data will not take much time since all of the datasets are retrieved from the same webpage. What will be more time-consuming in this step is to describe it and to get an understanding of what information we could get out of the datasets. The estimated time for this will be XX hours (% of the project). 


**Data Preparation**
The preparation involves the selection of data. Why certain data of the datasets is selected is motivated at the beginning of the report. The data sets are based on a relational database and therefore a part of the preparation is to merge the datasets together so it is possible to select the wanted data from it since we do not want everything that is in all of the sets. All the movies that are missing any important data will also be removed.

Even though the data is relatively clean from the beginning we do have to do quite a lot with it to make it useful for this project. We estimate that this will be quite time consuming and will take about XX % / hours. 

**Modeling**

Based on the data that was selected in the preparation step and the desired result, a data mining method should be chosen, and then the model should be built. In this project a decision tree will be created and based on our previous experience this will take about XX of the time.

**Evaluation** 

This is about evaluating the results from the data mining. How well it succeeded in relation to the success criterias that were decided earlier.We believe that this will not be taking so long since it should be relatively easy to see if we get at good result or not. The estimated time for this will be XX.

**Deployment**

A plan for the deployment should be created as well as a plan for maintenance. This plan will vary depending on the results of this project. The documentation will be in progress throughout this project and finished when the results from the data mining is reached. 

This is estimated to take XX

## 7. Ethical aspects that need to be considered

*Are there ethical aspects that need to be considered? Are there legal implications (e.g., personal data / GDPR)? Are there implications if the case organization is a business, public authority, or nonprofit entity?*

Since this report is analysing the data from movies, it is not necessary to consider any ethical aspects when it comes to personal information etc, since this is about public movies and data that we have collected from IMDb. 

However, one ethical perspective could be the that this type of analysis might hamper the creativity in the creation of movies. If movies are created from an algorithm based on earlier movies this could obstruct the production of new movies.

## References

Craig Batty (2015) *A screenwriter's journey into theme, and how creative writing research might help us to define screen production research*, Studies in Australasian Cinema, 9:2, pp. 110-121

imdb.com (-), *Press Room*. Available: https://www.imdb.com/pressroom/about/ [2018-11-19]

imdb.com (2018), [online] Available at: https://datasets.imdbws.com/ [Accessed 22 Nov. 2018].

Meenakshi, K., Maragatham, G., Agarwal, N. and Ghosh, I. (2018). *A Data mining Technique for Analyzing and Predicting the success of Movie*. Journal of Physics: Conference Series, 1000, p.012100.

Oliver, M. B. & Hartman, T. (2010). *Exploring the Role of Meaningful Experiences in Users' Appreciation of “Good Movies”*. Berghahn Journals,Vol. 4, Issue 2, pp 128–150
Rasoul Safavian, S., Landgrebe, D. (1991), Transactions on Systems, Man and Cybernetics, vol. 21, NO. 3, pp. 360-674. 

Sharda, R. and Delen, D. (2006). *Predicting box-office success of motion pictures with neural networks*. Expert Systems with Applications 30. Stillwater, Oklahoma, pp.243–254.


Tan P-N., Steinbach, M., Kumar,V. (2014), *Introduction to Data Mining*, 1st ed, 7th ed., Harlow: Pearson

Valenti, J. (1978). *Motion Pictures and Their Impact on Society in the Year
2001*, speech given at the Midwest Research Institute, Kansas City,
April 25, p. 3.

Wu, X., Zhu, X., Wu, G. and Ding, W. (2014). *Data Mining with Big Data*. Transactions on knowledge and data engineering. IEEE, pp. 97-107.